<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- Configure the DataSource for Oracle-->
	<bean id="dmds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Configure Oracle DataSoruce object to Oracle DAO class -->
	<bean id="oracleCustDAO" class="com.nt.dao.OracleCustomerDAOImpl">
		<constructor-arg ref="dmds"/>
	</bean>	
	
	<!-- Configure MySQL DataSoruce object to MySQL DAO class -->
	<bean id="mysqlCustDAO" class="com.nt.dao.MySQLCustomerDAOImpl">
		<constructor-arg ref="dmds"/>
	</bean>
	
	<!-- Configure DAO object to Service class -->
	<bean id="custService" class="com.nt.service.CustomerMgmtServiceImpl">
		<constructor-arg ref="oracleCustDAO"/>
		<!-- <constructor-arg ref="mysqlCustDAO"/> -->
	</bean>
	
	<!-- Configure Service object to Controller class -->
	<bean id="controller" class="com.nt.controller.MainController">
		<constructor-arg ref="custService"/>
	</bean>
	
	<!-- Configuration of PlaceHolder -->
	<bean id="pphc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="com/nt/commons/jdbc.properties"/>
	</bean>
	
</beans>
