<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Dependent bean configuration -->
	<bean id="date" name="dt" class="java.util.Date"/>
	
	<!-- Target bean configuration -->
	<bean id="wishMessageGenerator" name="wmg1, wmg2" class="com.nt.beans.WishMessageGenerator">
		<property name="date" ref="dt1"/>
	</bean>
       
    <alias name="wishMessageGenerator" alias="msg"/>
    <alias name="msg" alias="msg1"/>
    <alias name="wmg1" alias="msg2"/>
    <alias name="dt" alias="dt1"/>
</beans>