<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- Spring bean configuration -->
	<bean id="stud" class="com.nt.components.Student">
		<!-- Constructor Injection -->
		<!-- <constructor-arg value="101"/>
		<constructor-arg value="Nimu"/>
		<constructor-arg value="Hyd"/>
		<constructor-arg value="76.8"/> -->
		
		<!-- Setter Injection -->
		<property name="sno" value="101"/>
		<property name="sname" value="Nimu"/>
		<property name="sadd" value="Hyd"/>		
	</bean>
	
</beans>
